/* src/app/components/Footer.module.css */
.footer {
  width: 100%;
  padding: 20px 0;
  margin-top: 40px; /* Espaço entre o conteúdo da página e o rodapé */
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.copyright {
  font-size: 14px;
  color: var(--text-light);
}

.footerLinks {
  display: flex;
  gap: 25px;
}

.footerLinks a {
  font-size: 14px;
  color: var(--text-light);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.footerLinks a:hover {
  color: var(--text-dark);
  text-decoration: underline;
}